body{
	background-color:#f4f4f4;
	color:#555555;
    text-align: center;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;
	font-weight:bold ;

	/*same as above:
	font: normal 16px Arial, Helvetica, sans-serif*/

	line-height:1.6em;
	margin:0;
}

.nav{
	text-align: left;
}


.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border-radius: 10px;
	border: 6px solid #305A72;
}




.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 5px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	outline: none;	
}

.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 100%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}

.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}



.form-style-2 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 30px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    
}

.form-style-2 input[type=submit]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}

.form-style-2 button[type=submit]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
    font: 20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   
}
.form-style-2 button[type=submit]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
    font: 20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   
}

.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

.iframe-container {
    text-align:center;
      width:100%;
}


.block{
	float:left;
    text-align: center;
	width: 100%;
	border:1px solid #ccc;
	padding: center;
	box-sizing:border-box;
}

.table-content{
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	min-width: 400px;


}

.table-content thead tr{
	background-color: #009879;
	color:#ffffff;
	text-align: left;
	font-weight: bold;
	font-size: larger;

}

.table-content th, .table-content td{
	padding: 12px 15px;
}

.table-content tbody tr{
	border-bottom: 1px solid #c7c3c3;

}

.table-content tbody tr:nth-of-type(even){
	background-color: rgb(221, 218, 217);
}

.table-content tbody tr:last-of-type{
	border-bottom: 2px solid #009879 ;
}

